// --------------------------------------------------
// Type

// $font-family-base: "Silka", sans-serif !important;

// $headings-font-family: "Cormorant Infant", sans-serif !important;

// --------------------------------------------------
// Colors

$c-black: #000;
$c-white: #fff;
$c-red-1: #CF322D;
$c-red-2: #CA3433;

$c-grey-1: #414240;
$c-grey-2: #555555;
$c-grey-3: #6D6D6D;
$c-grey-4: #949494;
$c-grey-5: #EFEFEF;

// --------------------------------------------------
// Links
// $link-color: $secondary;
// $link-hover-color: $primary;
// $link-hover-decoration: none;

// --------------------------------------------------
// Buttons

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl1: 1360px,
  xxl: 1440px,
);

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 1024px,
//   xl: 1342px,
// );





