// --------------------------------------------------
// Type


// --------------------------------------------------
// Colors
$c-black: #000;
$c-white: #fff;
$c-red-1: #CF322D;
$c-red-2: #CA3433;

$c-grey-1: #414240;
$c-grey-2: #555555;
$c-grey-3: #6D6D6D;
$c-grey-4: #949494;
$c-grey-5: #EFEFEF;

// Breackpoins
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// Box shadows
// $shadow-1: 0px 4px 20px rgba(0, 0, 0, 0.25);
// $shadow-2: 6px 4px 18px rgba(0, 0, 0, 0.14);
// $shadow-3: -6px 4px 18px rgba(0, 0, 0, 0.14);