// --------------------------------------------------
// Type


// --------------------------------------------------
// Colors
$c-black: rgb(0, 0, 0);
$c-black-middle: rgb(38, 38, 38);
$c-black-light: rgb(50, 50, 50);
$c-gold: rgb(214, 173, 141);
$c-powder: rgb(249, 219, 208);
$c-powder-light: rgb(254, 243, 238);
$c-text-first: rgb(0, 0, 0);
$c-text-second: rgb(255, 255, 255);



// Breackpoins
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  lg1: 1024px,
  lg2: 1299px,
  xl: 1431px,
);

// Box shadows
$shadow-1: 0px 4px 20px rgba(0, 0, 0, 0.25);
$shadow-2: 6px 4px 18px rgba(0, 0, 0, 0.14);
$shadow-3: -6px 4px 18px rgba(0, 0, 0, 0.14);