// ==========================================================================
// ## COMPONENT: BUTTON
// ==========================================================================
.button {
    &__red {
        padding: 15px 10px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 184px;
        min-height: 54px;
        background-color: $c-red-1;
        color: $c-white;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.94px;
        transition: 0.3s;
        border: solid 1px $c-red-1;
        text-decoration: none;
        &:hover {
            border: solid 1px $c-red-3;
            background-color: $c-red-3;
        }
        &--small {
            padding: 2px 4px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 150px;
            background-color: $c-red-1;
            color: $c-white;
            font-weight: 700;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0.94px;
            transition: 0.3s;
            border: solid 1px $c-red-1;
            text-decoration: none;
            &:hover {
                border: solid 1px $c-red-3;
                background-color: $c-red-3;
            }
        }
    }
    &__cancel {
        @extend .button__red;
        color: $c-black;
        border: solid 1px $c-black;
        background-color: unset;
        &:hover {
            background-color: $c-black;
            color: $c-white;
            border: solid 1px $c-black;
        }
    }
    &__white {
        min-width: 184px;
        padding: 14px 12px;
        min-height: 48px;
        width: inherit;
        background-color: $c-white;
        color: $c-grey-1;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 23px;
        letter-spacing: 0.82px;
        text-transform: uppercase;
        transition: 0.3s;
        text-align: center;
        text-decoration: none;
        &:hover {
            background-color: $c-grey-5;
        }
    }
}
.btn-red-1 {
    transition: all 0.3s ease;
    @extend .btn-unstyled, .c-white, .c-red-1-bg;
    &:hover {
        @extend .c-red-3-bg;
    };
}

.btn-red-2 {
    transition: all 0.3s ease;
    @extend .btn-unstyled, .c-white-bg, .c-red-1;
    border: 1px solid $c-red-1;
    &:hover {
        @extend .c-red-1-bg, .c-white;
    };
}
.shopify-challenge__button {
    @extend .button__red;
    margin-top: 24px !important;
}