.customer,
.contact {
    .reset-text {
        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 26px;
        }
    }
    form {
        .field:not(:last-of-type) {
            margin-bottom: 40px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 54px;
            }
        }
        input:not([type='checkbox']), select {
            height: 56px !important;
        }
        input:not([type='checkbox']), textarea, select {
            width: 100%;
            font-size: 1.6rem;
            font-weight: 300;
            color: $c-grey-4;
            border: none !important;
            background-color: $c-white;
            padding: 20px 24px 15px;
            &:focus,
            &.visited {
                box-shadow: none !important;
                & + label {
                    opacity: 0;
                }
            }
            &::placeholder {
                opacity: 0;
            }
        }
        label {
            font-size: 1.4rem !important;
            font-weight: 300;
            top: 20px !important;
            transition: 0.3s !important;
        }
        button {
            width: 100%;
            height: 56px !important;
            margin: 40px 0 47px;
            @include media-breakpoint-up(lg) {
                margin: 47px 0 55px;
            }
        }
        .button__cancel {
            width: 100%;
            margin: 0 0 47px;
            @include media-breakpoint-up(lg) {
                margin: 0 0 55px;
            }
        }
    }
    a:not(.button__cancel) {
        color: $c-red-1;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.contact {
    form {
        button {
            @include media-breakpoint-up(sm) {
                max-width: 367px;
                margin: 0 auto;
            }
        }
    }
}