#wishlist-items-container {
    .swym-wishlist-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin: auto;
        width: 100%;
        @include media-breakpoint-up(lg) {
            grid-row-gap: 48px;
        }
      }
      .swym-wishlist-grid .swym-is-anchor {
        opacity: 1;
        cursor: pointer;
        text-decoration: none;
        touch-action: manipulation;
        padding-right: 35px;
      }
      .swym-wishlist-grid * {
        box-sizing: border-box;
        border: 0;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-transform: none;
      }
      a.swym-wishlist-item.swym-is-anchor {
        display: flex;
        position: relative;
        cursor: pointer;
      }
      button.swym-delete-btn.swym-nav.swym-nav-1.swym-is-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: $c-black;
        }
      }
      .swym-product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .swym-wishlist-grid .swym-wishlist-image-wrapper {
        overflow: hidden !important;
        width: 63px;
        min-width: 63px;
        height: 68px;
        margin-right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .swym-wishlist-grid .swym-wishlist-image-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .swym-wishlist-grid .swym-is-button {
        text-align: left;
        background: inherit;
        height: auto;
        width: auto;
        z-index: auto;
        display: inline-block;
        background: 0;
        border: 0;
        text-transform: none;
        bottom: auto;
        box-shadow: none;
        clear: none;
        cursor: pointer;
        font-family: inherit;
        font-size: medium;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: auto;
        left: auto;
        letter-spacing: normal;
        line-height: normal;
        margin: 0;
        max-height: none;
        max-width: none;
        min-height: 0;
        min-width: 0;
        opacity: 1;
        padding: 0;
        position: static;
        right: auto;
        text-align: inherit;
        text-decoration: none;
        text-transform: none;
        top: auto;
        transform: none;
        visibility: visible;
      }
      button.swym-add-to-cart-btn.swym-button.swym-button-1.swym-is-button.swym-is-button {
        z-index : 1000;
      }
      button.swym-delete-btn.swym-nav.swym-nav-1.swym-is-button {
        z-index : 1000;
      }
      .swym-is-button .swym-title.swym-title-1 {
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: $c-black;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .swym-wishlist-grid .swym-wishlist-item .swym-variant-title {
        margin-top: 6px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        color: $c-grey-3;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .swym-wishlist-grid .swym-wishlist-item .swym-product-price {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        padding: 0 15px 13px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .swym-wishlist-grid .swym-product-price .swym-product-final-price {
        display: inline-block;
        margin-right: .4em;
      }
      .swym-wishlist-grid .swym-wishlist-item .swym-add-to-cart-btn {
        background: #dc3b1a;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 6px;
        display: block;
        color: #fff;
      }
      button#swym-custom-add-toCartBtn[data-state-cart="swym-added"]{
        background : green;
      }
      .empty-btn {
        margin: 48px auto 0;
        max-width: 336px;
      }
}