<div class="header__mega-menu-wrapper mega-menu--{{ menu_number }}{% if is_small_menu == true %} mega-menu-small{% endif %}">
    <div class="page-width">
        <div class="header__mega-menu">
            {%- if is_small_menu == true -%}

            {%- else -%}
                {%- assign limit_column_links = 6 -%}
                {%- comment -%}The 'transform_limit_column_links' format must be '[number].0'{%- endcomment -%}
                {%- assign transform_limit_column_links = limit_column_links | append: '.0' -%}
                {%- assign columns_count = link.links.size | divided_by: transform_limit_column_links | ceil -%}
                {%- for column in (1..columns_count) -%}
                <ul class="list-menu" role="list">
                    {%- for link in link.links limit: limit_column_links offset: continue -%}
                    <li>
                        <a href="{{ link.url }}" class="header__mega-menu-item"{% if link.current %} aria-current="page"{% endif %}>
                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape | upcase }}</span>
                        </a>
                    </li>
                    {%- endfor -%}
                </ul> 
                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
</div>