.articles-categories {
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
    }

    &__heading {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-family: "jersey";
        text-transform: uppercase;
        color: #414240;
        margin-bottom: 3.2rem;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    &__articles {
        @include media-breakpoint-down(lg) {
            margin-top: 7.2rem;
        }
    }
    
    &__article {
        text-decoration: none;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        & + & {
            margin-top: 6.4rem;
        }
    }

    &__image {
        width: 100%;
        max-width: 32.6rem;
        height: 24rem;
        object-fit: cover;

        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 33.5rem;
            height: 24.7rem;
        }
        
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    &__info {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-top: 2.4rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        max-width: 43.4rem;

        @include media-breakpoint-down(xs) {
            margin-top: 1.6rem;
        }
    }
    
    &__author {
        margin-top: 2.8rem;

        @include media-breakpoint-down(xs) {
            margin-top: 2.4rem;
        }

        img {
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 50%;

            &.empty {
                width: 5.8rem;
                height: 5.8rem;
                border: 4px solid $c-grey-3;
            }
        }

        .info {
            margin-left: 2.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__name {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.6rem;
                letter-spacing: 0.93913px;
                text-transform: uppercase;
                color: #414240;
            }

            &__published {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.2rem;
                letter-spacing: 0.821739px;
                text-transform: uppercase;
                color: #6D6D6D;
            }
        }
    }

    &__tags {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.9rem;
        letter-spacing: 0.704347px;
        text-transform: uppercase;
        color: #6D6D6D;

        @include media-breakpoint-down(md) {
            // margin-top: 2.4rem;
            display: none;
        }


    }

    &__categories {
        display: flex;
        flex-direction: column;
        
        @include media-breakpoint-down(lg) {
            margin-top: 4.8rem;
        }

        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }

        @include media-breakpoint-down(xs) {
            align-items: center;
        }

        &-item {
            width: 41.4rem;
            height: 16.7rem;
            @extend .c-grey-10-bg;
            padding: 4.4rem 4rem;
            display: flex;
            text-decoration: none;

            & + & {
                margin-top: 1.6rem;
            }

            svg {
                width: 8.7rem;
                height: 8rem;
            }
        }
    }
}

.categories-item {
    &__container {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-left: 2.5rem;
    }

    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6rem;
        color: #D13026;
        text-decoration: none;
        max-width: 20rem;
    }

    &__text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.93913px;
        color: #6D6D6D;
        margin-top: 1.8rem;
    }
}