.brand-ambassador-form {
    &__container {
        @include media-breakpoint-up(xxl) {
            width: 1340px;
        }
    }
    &__heading {
        padding-bottom: 47px;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        strong {
            font-family: 'Long Shot';
            font-weight: 400;
        }
    }
    &__description {
        padding-bottom: 56px;
    }
}