.columns-with-links {
    & > .page-width {
        background-color: $c-grey-10;
        @include media-breakpoint-up(md) {
            background-color: unset;
        }
    }
    &__main {
        padding: 37px 17px;
        background-color: $c-grey-10;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 64px;
        grid-column-gap: 44px;
        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr;
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include media-breakpoint-up(xxl) {
            padding: 88px 94px;
            grid-column-gap: 115px;
        }
    }
    &__item {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            height: 350px;
            width: 100%;
            object-fit: contain;
            @include media-breakpoint-up(sm) {
                object-fit: cover;
            }
            @include media-breakpoint-up(md) {
                object-fit: contain;
            }
            @include media-breakpoint-up(lg) {
                object-fit: cover;
            }
            @include media-breakpoint-up(xl) {
                object-fit: contain;
            }
        }
        h4 {
            margin-top: 24px;
            @include media-breakpoint-up(md) {
                margin-top: 32px;
            }
        }
        a {
            font-weight: 500;
            display: block;
            text-decoration: unset;
            color: $c-grey-4;
            margin-top: 16px;
            @include media-breakpoint-up(md) {
                margin-top: 24px;
            }
        }
        p {
            margin-top: 8px;
            @include media-breakpoint-up(md) {
                margin-top: 16px;
            }
        }
    }
}