.collapsible-faq {
    &__title {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 4.2rem;
        padding-top: 6.4rem;
        margin-top: 6.4rem;
        margin-bottom: 5.6rem;
        border-top: 1px solid $c-grey-8;
        @include media-breakpoint-down(sm) {
            width: auto;
            margin: 4rem 2rem 3.9rem 2rem;
            padding-top: 4rem;
        }
    }
    svg {
        transition: all 0.3s ease;
        transform: rotate(180deg);
        height: 0.9rem;
        width: 1.7rem;
        position: absolute;
        right: 0;
        top: 1rem;
    }
    details[open] {
        summary {
            svg {
                transform: rotate(0deg);
            }
        }
    }
    &__accordion {
        padding: 4rem 5rem 4rem 5.6rem;
        @include media-breakpoint-down(sm) {
            padding: 3rem 2rem;
        }
        & + & {
            margin-top: 1.8rem;
        }
        &-title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.6rem;
            @media (max-width: 1075px) {
                max-width: 80rem;
            }
            @include media-breakpoint-down(md) {
                max-width: 80%;
            }
        }
        &-content {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 2.2rem;
            letter-spacing: 0.479348px;
            margin-top: 1.2rem;
            @include media-breakpoint-down(sm) {
                font-size: 1.6rem;
            }
            em {
                font-style: normal;
                @extend .c-red-1;
            }
        }
        summary {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            position: relative;
        }
    }
}