.collections-states {
    h1 {
        color: $c-grey-1;
    }
    &__blocks {
        margin-top: 45px;
        @include media-breakpoint-up(md) {
            margin-top: 70px;
        }
    }
    &__block-item {
        min-height: 302px;
        position: relative;
        padding: 40px 56px;
        @media (min-width: 375px) {
            padding: 56px 68px 64px;
        }
        &::after {
            @extend .absolute-fill;
            background: linear-gradient(180deg, rgba(255, 86, 81, 0) 0%, #FF3830 100%);
            backdrop-filter: blur(1px);
            transform: rotate(180deg);
            content: '';
        }
        &:not(:last-child) {
            margin-bottom: 22px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 54px 90px;
        }
    }
    .block-item {
        &__bg {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }
            .btn-mob {
                margin-top: 48px;
                margin: 48px auto 0;
            }
            &-aside {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    margin-bottom: 45px;
                    text-align: center;
                    @include media-breakpoint-up(sm) {
                        text-align: unset;
                    }
                    @include media-breakpoint-up(md) {
                        margin-bottom: 0;
                    }
                }
                @include media-breakpoint-up(md) {
                    width: 33%;
                }
            }
            &-list {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 14px;
                grid-column-gap: 40px;
                text-align: center;
                @include media-breakpoint-up(sm) {
                    text-align: unset;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 30px;
                }
                @include media-breakpoint-up(md) {
                    grid-column-gap: 60px;
                }
                @include media-breakpoint-up(lg) {
                    margin-top: 7px;
                    max-width: 500px;
                }
                @include media-breakpoint-up(xxl) {
                    grid-column-gap: 90px;
                }
                a {
                    text-decoration: none;
                    color: $c-white;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 500;
                }
            }
        }
    }
}