.image-with-text {
    &.always_center {
        .image-with-text__content {
            text-align: center;
            align-items: center;
        }
    }
    &__heading {
        text-align: center;
        max-width: 31.9rem;
        font-style: normal;
        font-weight: 400;
        &.normal {
            font-size: 3.6rem;
            line-height: 3.9rem;
            @include media-breakpoint-up(sm) {
                text-align: inherit;
                font-size: 3.2rem;
                max-width: 100%;
            }
        }
        &.large {
            font-size: 3.5rem;
            line-height: 4.4rem;
            @include media-breakpoint-up(sm) {
                text-align: inherit;
                font-size: 4.8rem;
                line-height: 5.9rem;
                max-width: 100%;
            }
        }
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(md) {
            position: relative !important;
            align-items: flex-start;
            justify-content: inherit;
        }
    }
    &__media-item {
        display: flex;
        width: 100%;
        height: 100%;
        // max-height: 70.5rem;
        top: 0;
        left: 0;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            position: absolute !important;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;


            @media (min-width: 500px) and (max-width: 767.98px) {
                height: 50rem;

            }

            &.desctop {
                display: none;
                @include media-breakpoint-up(md) {
                    display: block;
                }
            }
            &.mobile {
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
        }
    }
    &__text {
        margin-top: 2.1rem;
        max-width: 110.8rem;
        &.normal {
            p {
                font-size: 1.6rem;
                line-height: 2.8rem;
                letter-spacing: 0.761905px;
            }
        }
        &.large {
            p {
                font-size: 1.6rem;
                line-height: 3rem;
                letter-spacing: 0.461905px;
                @include media-breakpoint-up(md) {
                    font-size: 1.8rem;
                    line-height: 3.1rem;
                    letter-spacing: 0.857143px;
                }
            }
        }
        @include media-breakpoint-up(md) {
            margin-top: 2.5rem;
        }
        p {
            @extend .c-white;
            font-weight: 400;
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: inherit;
            }
        }
    }
    &__button {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.3rem;
        letter-spacing: 0.821739px;
    }
    &__undertext {
        margin-top: 2.4rem;
        p {
            @extend .c-white;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.4rem;
            letter-spacing: -0.00327273px;
            mix-blend-mode: normal;
            opacity: 0.68;
            @include media-breakpoint-up(md) {
                margin-top: 0.9rem;
                letter-spacing: -0.00294545px;
            }
        }
    }
}

.iwt {
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}