.steps {
    display: flex;
    justify-content: space-between;
    padding: 7.2rem 9.9rem 7.2rem 9.1rem;
    @include media-breakpoint-down(lg) {
        padding: 7.2rem 5.9rem 7.2rem 5.1rem;   
    }
    @include media-breakpoint-down(md) {
        align-items: center;
        padding: 6.4rem 0;
        flex-direction: column;
    }
    &-container {
        @include media-breakpoint-down(sm) {
            padding: 0 2rem;
        }
        &__heading {
            font-weight: 400;
            @extend .c-grey-1;
            text-align: center;
            font-size: 3.2rem;
            line-height: 4.2rem;
            margin-bottom: 4rem;
            &:empty {
                display: none;
            }
            @include media-breakpoint-up(sm) {
                font-size: 3.2rem;
                line-height: 4.2rem;
                margin-bottom: 4.8rem;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend .c-black;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6rem;
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: 25rem;
        }
        @include media-breakpoint-up(xl) {
            width: 30rem;
        }
        & + & {
            @include media-breakpoint-down(md) {
                margin-top: 6rem;
            }
        }
        span {
            margin-top: 2.4rem;
        }
    }
    &__info {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.547826px;
        margin-top: 2.8rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.4rem;
            margin-top: 3.2rem;
            letter-spacing: 0.479348px;
        }
        em {
            font-style: inherit;
            @extend .c-red-1;
        }
    }
}