.text-page {
    max-width: 94rem;
    margin: auto;

    &__heading {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6rem;
    }

    &__text {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.479348px;
        margin-top: 2.4rem;

        @include media-breakpoint-up(sm) {
            margin-top: 2.8rem;
            font-size: 1.4rem;
        }
    }

    & em {
        color: #CF322D;
        font-style: normal;
    }
}