.text-with-collage {
    align-items: center;
    &__info {
        margin-bottom: 1.3rem;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 3.2rem;
        }
        &-heading {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
        &-text {
            font-size: 1.6rem;
            line-height: 3.1rem;
            letter-spacing: 0.547826px;
            margin-top: 2.6rem;
            @include media-breakpoint-up(lg) {
                margin-right: 10.36%;
            }
        }
        &-description {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
            @include media-breakpoint-up(xl) {
                width: unset;
            }
        }
    }
    &__main-image {
        width: 100%;
        @include media-breakpoint-down(md) {
            margin-top: 4.1rem;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        @include media-breakpoint-up(xl) {
            width: unset;
        }
    }
    &__collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__img {
        height: 100%;
        &:nth-of-type(2){
            @include media-breakpoint-between(md, md) {
                position: relative;
                left: -2.8%;
            }
        }
        &:nth-of-type(1n+3) {
            @include media-breakpoint-down(md) {
                margin-top: 3.2rem;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 1.2rem;
            }
        }
        &:nth-of-type(1n+5) {
            display: none;
            @include media-breakpoint-up(md) {
                margin-top: 3.2rem;
                display: block;
            }
        }
        @include media-breakpoint-down(md) {
            &-1 {
                order: 2;
            }
            &-2 {
                order: 1;
                position: relative;
            }
            &-3 {
                order: 3;
            }
            &-4 {
                order: 4;
            }
        }
    }
}