.video-with-info {
    &__heading {
        font-family: 'Axiforma';
        font-weight: 700;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 var(--page-width-x-paddings-mobile-reverse);
        @include media-breakpoint-up(sm) {
            margin: 0 var(--page-width-x-paddings-tablet-reverse);
        }
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            margin: unset;
        }
    }
    &__video {
        position: relative;
        height: 363px;
        @include media-breakpoint-up(lg) {
            width: 60%;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $c-grey-5;
        padding: 32px;
        @include media-breakpoint-up(lg) {
            width: 40%;
            padding: 0 0 0 28px;
            background-color: unset;
        }
        .info-column {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            h3 {
                @include media-breakpoint-up(xxl) {
                    font-size: 48px;
                    line-height: 58px;
                }
            }
            p {
                margin-top: 10px;
                font-size: 18px;
                color: $c-grey-1;
            }
        }
    }
}

.btn-video-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: 0.3s;
        color: $c-red-1;
        @include media-breakpoint-up(lg) {
            width: 100px;
            height: 100px;
        }
    }
    &:hover {
        svg {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &.btn-hidden {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}