.work-to-roa {
    &__form-container {
        max-width: 33.5rem;
        padding: 0 2rem;
        @include media-breakpoint-up(sm) {
            max-width: 75rem;
            padding: 0;
        }
        &-title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.6rem;
            @extend .c-red-1;
            padding-bottom: 3.2rem;
            margin-bottom: 3.2rem;
            border-bottom: 1px solid $c-grey-8;
        }
    }
}