// Font size
.text-56px {
  @include text-48px;
  @include media-breakpoint-up(sm) {
    @include text-56px;
  }
}
.text-52px {
  @include text-32px;
  @include media-breakpoint-up(sm) {
    @include text-52px;
  }
}
.text-44px {
  @include text-44px;
  @include media-breakpoint-up(sm) {
    @include text-26px;
  }
}
.text-40px-all {
  @include text-40px;
}
.text-40px {
  @include text-24px;
  @include media-breakpoint-up(sm) {
    @include text-40px;
  }
}
.text-32px {
    @include text-32px;
}
.text-26px-all {
  @include text-26px;
}
.text-26px {
  @include text-24px;
  @include media-breakpoint-up(sm) {
    @include text-26px;
  }
}
.text-24px-all {
  @include text-24px;
}
.text-22px-all {
  @include text-22px;
}
.text-21px-all {
  @include text-21px;
}
.text-20px {
  @include text-18px;
  @include media-breakpoint-up(sm) {
    @include text-20px;
  }
}
.text-18px-all {
  @include text-18px;
}
.text-18px {
  @include text-16px;
  @include media-breakpoint-up(sm) {
    @include text-18px;
  }
}
.text-16px-all {
  @include text-16px;
}
.text-16px {
  @include text-14px;
  @include media-breakpoint-up(sm) {
    @include text-16px;
  }
}
.text-14px {
  @include text-14px;
}
.text-12px {
  @include text-12px;
}
.text-11px {
  @include text-11px;
}



// Font weight
.font-weight-light {
  font-weight: 300;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}


// Font family
.font-jersey {
  font-family: 'jersey';
}
.font-axiforma-light {
  font-family: 'Axiforma';
  font-weight: 300;
}
.font-axiforma-medium {
  font-family: 'Axiforma';
  font-weight: 500;
}
.font-axiforma-regular {
  font-family: 'Axiforma';
  font-weight: 400;
}
.font-axiforma-semibold {
  font-family: 'Axiforma';
  font-weight: 600;
}
.font-axiforma-bold {
  font-family: 'Axiforma';
  font-weight: bold;
}

h1, .h1 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6.1rem;
  color: $c-black;
  font-family: 'jersey';
  @include media-breakpoint-down(md) {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}
h2, .h2 {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.5rem;
  font-family: 'jersey';
  color: $c-black;
}
h3, .h3 {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-family: 'jersey';
  color: $c-black;
}
h4, .h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: 'jersey';
  color: $c-black;
}

p {
  margin: 0;
  color: $c-black;
}

.mw-500 {
  max-width: 50rem;
}

.text-transform-none {
  text-transform: none !important;
}

.mw-750 {
  width: 100%;
  margin: auto;
  @include media-breakpoint-up(md) {
    max-width: 75rem !important;
  }
}

.mt-wtr {
  margin-top: 4rem;

  @include media-breakpoint-up(sm) {
      margin-top: 5.4rem;
  }
}

.sm-flex-column {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    .input-with-label + .input-with-label {
        margin-top: 4rem;
    }

    .additional-text {
      margin-top: 2rem;
    }
  }
}