// --------------------------------------------------
// Type

// $font-family-base: "Silka", sans-serif !important;

// $headings-font-family: "Cormorant Infant", sans-serif !important;

// --------------------------------------------------
// Colors
$c-text: c_rgb(var(--color-base-text));

$c-black: c_rgb(var(--color-base-outline-button-labels));
$c-white: c_rgb(var(--color-base-background-1));

$c-red-1: c_rgb(var(--color-base-accent-1));
$c-red-2: c_rgb(var(--color-base-accent-2));
$c-red-3: c_rgb(var(--color-base-accent-3));
$c-red-4: #D13026;

$c-grey-1: #414240;
$c-grey-7: #414141;
$c-grey-2: #555555;

$c-grey-3: #6D6D6D;
$c-grey-4: #949494;

$c-grey-6: #C4C4C4;

$c-grey-5: #EFEFEF;
$c-grey-8: #EAEAEA;
$c-grey-9: #F3F3F3;
$c-grey-10: #FCFCFC;
$c-grey-12: #F7F7F7;
$c-grey-11: #F8F8F8;

// --------------------------------------------------
// Links
// $link-color: $secondary;
// $link-hover-color: $primary;
// $link-hover-decoration: none;

// --------------------------------------------------
// Buttons

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl1: 1360px,
  xxl: 1440px
);

// Box shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.05);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$shadow-6: 0 8px 7px rgba(0, 0, 0, 0.1);


