@mixin text-56px {
  font-size: 56px;
  line-height: 68px;
}
@mixin text-52px {
  font-size: 52px;
  line-height: 64px;
}
@mixin text-48px {
  font-size: 48px;
  line-height: 58px;
}
@mixin text-44px {
  font-size: 44px;
  line-height: 54px;
}
@mixin text-40px {
  font-size: 40px;
  line-height: 48px;
}
@mixin text-35px {
  font-size: 35px;
  line-height: 44px;
}
@mixin text-32px {
  font-size: 32px;
  line-height: 42px;
}
@mixin text-28px {
  font-size: 28px;
  line-height: 32px;
}
@mixin text-26px {
  font-size: 26px;
  line-height: 32px;
}
@mixin text-24px {
  font-size: 24px;
  line-height: 29px;
}
@mixin text-22px {
  font-size: 22px;
  line-height: 26px;
}
@mixin text-21px {
  font-size: 21px;
  line-height: 25px;
}
@mixin text-20px {
  font-size: 20px;
  line-height: 26px;
}
@mixin text-18px {
  font-size: 18px;
  line-height: 28px;
}
@mixin text-16px {
  font-size: 16px;
  line-height: 20px;
}
@mixin text-14px {
  font-size: 14px;
  line-height: 22px;
}
@mixin text-12px {
  font-size: 12px;
  line-height: 15px;
}
@mixin text-11px {
  font-size: 11px;
  line-height: 13px;
}
