.bg-powder {
    background-color: $c-powder;
}
.bg-powder-light {
    background-color: $c-powder-light;
}
.bg-black {
    background-color: $c-black;
}
.bg-black-middle {
    background-color: $c-black-middle;
}
.bg-black-light {
    background-color: $c-black-light;
}

.color-gold {
    color: $c-gold;
}