// Class for color 
// Add '-bg' prefix for using background-color

// .c-black
// .c-white
// .c-red-1
// .c-red-2
// .c-grey-1
// .c-grey-2
// .c-grey-3
// .c-grey-4
// .c-grey-5

.c {
    &-black {
        color: $c-black;
        &-bg {
            background-color: $c-black;
        }
    }

    &-white {
        color: $c-white;
        &-bg {
            background-color: $c-white;
        }
    }
    &-red-1 {
        color: $c-red-1;
        &-bg {
            background-color: $c-red-1;
        }
    }
    &-red-2 {
        color: $c-red-2;
        &-bg {
            background-color: $c-red-2;
        }
    }
    &-red-3 {
        color: $c-red-3;
        &-bg {
            background-color: $c-red-3;
        }
    }
    &-red-4 {
        color: $c-red-4;
        &-bg {
            background-color: $c-red-4;
        }
    }
    &-grey-1 {
        color: $c-grey-1;
        &-bg {
            background-color: $c-grey-1;
        }
    }
    &-grey-2 {
        color: $c-grey-2;
        &-bg {
            background-color: $c-grey-2;
        }
    }
    &-grey-3 {
        color: $c-grey-3 !important;
        &-bg {
            background-color: $c-grey-3;
        }
    }
    &-grey-4 {
        color: $c-grey-4;
        &-bg {
            background-color: $c-grey-4;
        }
    }
    &-grey-5 {
        color: $c-grey-5;
        &-bg {
            background-color: $c-grey-5;
        }
    }
    &-grey-6 {
        color: $c-grey-6;
        &-bg {
            background-color: $c-grey-6;
        }
    }
    &-grey-7 {
        color: $c-grey-7;
        &-bg {
            background-color: $c-grey-7;
        }
    }
    &-grey-8 {
        color: $c-grey-8;
        &-bg {
            background-color: $c-grey-8;
        }
    }
    &-grey-9 {
        color: $c-grey-9;
        &-bg {
            background-color: $c-grey-9;
        }
    }
    &-grey-10 {
        color: $c-grey-10;
        &-bg {
            background-color: $c-grey-10;
        }
    }
    &-grey-11 {
        color: $c-grey-11;
        &-bg {
            background-color: $c-grey-11;
        }
    }
    &-grey-12 {
        color: $c-grey-12;
        &-bg {
            background-color: $c-grey-12;
        }
    }
}