{% unless product == empty %}
                            <script type="application/json" data-rvpproduct-json>
                              {{product | json}}
                            </script>
                        {% endunless %}
                        <div class="rvp-container page-width" data-page="{{template}}" data-money-format="{{shop.money_format}}"></div>
      
                      {% schema %}
                        {
                          "name": "Recently viewed product",
                          "class": "index-section",
                          "presets": [
                            {
                              "name": "Recently viewed product",
                              "blocks": [
                                
                              ]
                            }
                          ]
                        }
                      {% endschema %}
                      
                      {% stylesheet %}
                      {% endstylesheet %}