// ==========================================================================
// ## LAYOUT: BASE
// ==========================================================================
// Variables (replace Bootstrap variable defaults)
@import './settings/variables';

@import './mixins/helpers';

// --------------------------------------------------
// Bootstrap

@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins";
@import "~bootstrap-scss/utilities";
@import "~bootstrap-scss/grid";

/// @content
///   DO NOT ADD CLASSES OR RULES IN THIS FILE DIRECTLY.
///   Instead, use imports to add extensions or snippets you made along the project.
///
///
/// Production build weights only ~25kb (~4kb gzipped)
///

/// - SETTINGS & TOOLS (MUST BE AT THE TOP)
/// Common settings and tools.
//

@import './mixins/type';

/// - GENERIC
/// Reset............A level playing field using @necolas’s Normalize.
/// Print................Reset-like styles for print media.
/// Elements.............Sensibly and tersely share some global commonalities.
///
@import './generic/reset';
@import './generic/print';

/// - COMPONENTS
// Build and include your project’s UI components.
// Uncomment and add to this as necessary.
///
/// Button..............Specific styles for btn component and its variations.
/// Typeface............Specific styles for heading component and its size variations.
/// Field...............Specific styles for field and input component.
///
@import './components/button';
@import './components/field';
// @import './components/price';

/// - SECTIONS
// These are base section.
///
/// Header..............Shopify static section.
/// Footer..............Shopify static section.
///
@import './sections/header';
@import './sections/footer';
