#snize_results.snize-mobile-design.snize-new-version div.snize-main-panel-mobile-filters {
  display: none;
}

.main-search__input {
    background: #FCFCFC;
}

.main-search__input form {
    padding-bottom: 4.8rem;
    border-bottom: 1px solid #EAEAEA;
}

.main-search__input .search__button.field__button {
    left: 2.4rem;
    top: .5rem;
}

.main-search__input .field {
    display: flex;
    align-items: center;
    position: relative;
}

.search__input.field__input {
    background: #fff;
    border: 1px solid #F3F3F3;
    height: 5.6rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 0.547826px;
    padding-left: 7rem;
}

div.snize div.snize-header {
    display: none;
}

div.snize div.snize-main-panel {
    margin: 0;
    border: 0;
    padding: 0 5.6rem;
    width: calc(100% - 11.2rem);
    margin-bottom: -9.4rem;
}

div.snize div.snize-main-panel-dropdown a.snize-main-panel-dropdown-button {
    background: #FFFFFF;
    border: 1px solid #F3F3F3 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 20.2rem;
    height: 5.6rem;
    padding: 2.2rem 2.4rem .9rem 2.4rem !important;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 1.6rem !important;
    line-height: 2.5rem;
    letter-spacing: 0.547826px;
    color: #000001 !important;
    border-radius: 0 !important;
}

div.snize div.snize-main-panel-view-mode {
    display: none;
}

div.snize div.snize-main-panel-controls {
    display: none;
}

div.snize div.snize-horizontal-filters {
    padding: 4.8rem 5.6rem;
    background: #FCFCFC;
    margin: 0;
    margin-top: -2.2rem;
    margin-bottom: 4.5rem;
}

.div.snize div.snize-filters-dropdown {
    margin-right: 0;
}

div.snize div.snize-filters-dropdown + div.snize-filters-dropdown {
    margin-left: 4.8rem;
}

div.snize div.snize-filters-dropdown-title {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    width: 25rem;
    height: 5.6rem;
    padding: 2.2rem 2.4rem 0.9rem 2.4rem;
}

div.snize div.snize-filters-dropdown-title .snize-filters-dropdown-text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 0.547826px;
    color: #949494;
}

div.snize div.snize-filters-dropdown-title .snize-product-filters-price-symbol {
  display: none;
}

div.snize div.snize-filters-dropdown-content {
  box-shadow: none;
  border: 1px solid #F3F3F3;
  margin-top: .8rem;
  width: 100%;
}

div.snize div.snize-filters-dropdown-content ul.snize-product-filters-list {
  padding: 2.4rem 1.6rem;
  margin: 0;
}

div.snize div.snize-price-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.snize ul.snize-product-filters-list li span.snize-range-divider {
  display: none;
}

div.snize .snize-price-range input.snize-price-range-input {
  width: 9.4rem;
  height: 4rem;
}

div.snize .snize-price-range-slider {
  margin-left: 1.6rem;
}

div.snize div.slider-container.snize-theme .scale ins {
  font-weight: 300;
  line-height: 2.2rem;
  letter-spacing: 0.479348px;
  color: #949494;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content {
  margin: 0;
  width: 99%;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content a.current {
  background-image: none;
}

div.snize-search-results#snize_results li a {
  margin: 0;
  padding: .5rem;
}

div.snize div.slider-container.snize-theme .back-bar .pointer {
  background-color: white;
  border: 5px solid #CF322D;
  border-radius: 50%;
  width: .6rem;
  height: .6rem;
}

div.snize i.snize-product-filters-reset {
  display: none;
}

div.snize-search-results ul.snize-search-results-content {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    grid-gap: 4.1rem;
}

div.snize-search-results ul.snize-search-results-content::before, 
div.snize .snize-product .snize-size-select-box,
div.snize #snize-search-results-grid-mode li.snize-product .snize-options-box,
div.snize div.snize-pagination {
    display: none;
}

div.snize #snize-search-results-grid-mode li.snize-product {
    width: 30.4rem !important;
    margin: 0;
    border: 0;
}

div.snize #snize-search-results-grid-mode li.snize-product .snize-simple-options-box {
    display: none;
}

div.snize #snize-search-results-grid-mode li.snize-product .snize-description {
    display: none;
}

#snize-search-results-grid-mode li.snize-product span.snize-title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.93913px;
  text-transform: uppercase;
  color: #000001;
  margin: auto;
  max-width: 23rem;
}

#snize-search-results-grid-mode .snize-price-list {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.93913px;
  color: #6D6D6D;
  text-align: center;
  margin-top: 1rem;
}

#snize-search-results-grid-mode .snize-thumbnail-wrapper {
  padding: 0;
}

#snize-search-results-grid-mode span.snize-thumbnail {
  width: 30.4rem;
  height: 32.8rem;
}

#snize-search-results-grid-mode span.snize-thumbnail img {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

div.snize.snize-options #snize-search-results-grid-mode span.snize-overhidden {
  padding: 0;
  margin-top: 2.4rem;
}

@media (min-width: 768px) {
  .main-search__input {
    padding: 4.8rem 5.6rem 0 5.6rem;
  }
}

@media (max-width: 1400px) {
  div.snize-search-results ul.snize-search-results-content {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  div.snize div.snize-main-panel {
    position: relative;
    display: flex;
    margin-top: -3rem;
  }

  div.snize div.snize-horizontal-filters {
    padding-top: 10.8rem;
  }
}

@media (max-width: 1053px) {
  div.snize div.snize-horizontal-filters {
    display: flex;
    flex-direction: column;
    padding-top: 11.2rem;
  }

  div.snize div.snize-filters-dropdown {
    margin-bottom: 0;
    margin-right: 0;
  }

  div.snize div.snize-filters-dropdown-title {
    width: 100%;
  }

  div.snize div.snize-filters-dropdown + div.snize-filters-dropdown {
    margin: 0;
    margin-top: 2rem;
  }

  div.snize div.snize-main-panel-dropdown {
    width: 100%;
  }

  div.snize div.snize-main-panel-dropdown a.snize-main-panel-dropdown-button {
    width: 100%;
  }

  div.snize-search-results ul.snize-search-results-content {
    grid-template-columns: auto auto;
  }

  .main-search__input,
  div.snize div.snize-horizontal-filters {
    width: 100vw;
    margin-left: -3.3rem;
  }

  div.snize div.snize-main-panel {
    margin-left: 2.3rem;
  }
}

@media (max-width: 768px) {
  div.snize div.snize-main-panel {
    padding: 0;
    width: 100%;
  }

  div.snize-search-results#snize_results a {
    width: 100%;
  }

  div.snize div.snize-main-panel .snize-selected-filters-container {
    display: none;
  }

  div.snize div.snize-horizontal-filters {
    margin-top: 9.6rem;
    padding: 0;
  }

  div.snize div.snize-filters-dropdown + div.snize-filters-dropdown {
    margin: 0;
  }

  .main-search__input form {
    padding-bottom: 2.4rem;
  }
}
