.cta-banner {
    position: relative;
    width: 100%;
    height: 550px;
    &::after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @include media-breakpoint-up(sm) {
        height: 630px;
    }
    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__center {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
}